<html>
    <style>
        .boxed{
            width: 300px;
            height: 105px;
            border: 3px solid black;
            background-color: rgb(200, 255, 250);
        }
        .boxed2{
            width: 300px;
            height: 125px;
            border: 3px solid black;
            background-color: rgb(200, 255, 250);
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="boxed">
        Modify Airport Database
        <form id = "airport" action="/modairport" method="post">
            Airport Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="code"><br>
            Airport City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="city"><br>
            Airport Country: <input type="text" name="country"><br>
            <input type="submit" name="submit" value="add">
            <input type="submit" name="submit" value="delete">
        </form>
    </div>
    <br>
    <div class="boxed2">
        Modify Pilot Database
        <form id="pilot" action="/modpilot" method="post">
            Pilot ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="id"><br>
            Pilot Name:&nbsp;&nbsp;&nbsp;<input type="text" name="name"><br>
            Pilot Rank:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="rank"><br>
            Flight Hours: <input type="text" name="hours"><br>
            <input type="submit" name="submit" value="add">
            <input type="submit" name="submit" value="delete">
        </form>
    </div>
    <script>
        airport = document.getElementById("airport");
        airport.addEventListener('submit', airportf);
        function airportf(event) {
            var data = $("#airport").serializeArray();
            var x = ("Airport database modified:\ncode: "+data[0].value+ "\n" +
            "city: "+data[1].value + "\n" + "country: " + data[2].value)
            window.alert(x)
        }
    </script>
    <script>
        pilot = document.getElementById("pilot");
        pilot.addEventListener('submit', pilotf);
        function pilotf(event) {
            var data = $("#pilot").serializeArray();
            var x = ("Pilot database modified:\nPilot ID: "+data[0].value+ "\n" +
            "Pilot Name: "+data[1].value + "\n" + "Pilot Rank: " + data[2].value
            + "\n" + "Flight Hours: " + data[3].value)
            window.alert(x)
        }
    </script>
</html>