<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yong and Antonio's Airline</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  </head>
  <body>
      <div class="website-container">
        <header>
          <h1 class="title">YONG AND ANTONIO'S AIRLINE</h1>
        </header>
        <center>
        <div id="container">
          <p><a href="booking"><button>BOOK FLIGHT</button></a></p><br>
          <p><a href="manage"><button>Manage your booking!</button></a></p><br>
          <p><a href="lookup"><button>Flight Lookup!</button></a></p><br>
        </div>
      </center>
      </div>
    </body>
</html>
